body {
    font-family: "Montserrat-Light";
}

.main-header {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(background.png);
    width: 100%;
    height: 660px;
    color: white;
}
ul {
    display: flex;
    justify-content: space-around;
}
li {
    list-style-type: none;
    font-size: 20px;
}
.list {
    margin-top: 40px;
    width: 40%;
    margin-left: 800px;
}
.title {
    font-size: 30px;
    margin-top: 40px;
    margin-left: 240px;
    font-weight: bold;
}
.head {
    display: flex;
}

@font-face {
    font-family: "Montserrat-Light";
    src: url(fonts/Montserrat-Light.ttf);
}
h2 {
    color: white;
    font-size: 50px;
    margin-bottom: 32px;
}
p {
    margin-top: 0px;
    font-size: 20px;

}
.text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 130px;
}
.knopka {
    width: 181px;
    height: 51px;
    text-align: center;
    border: 2px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border-radius: 2px;
    font-weight: bold;
}
a {
    text-decoration: none;
    margin-top: 15px;
}
.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}